@import "../../styles/global.scss";

.thwoup__container {
  display: flex;
  justify-content: space-between;
 
  .twoup__card {
    padding-right:160px;

    .wrapper{  
      display: flex;
      justify-content: space-between;
      padding-top: 32px;

      .cards {
        &:nth-child(2) {
        padding-right: 0;
        }
      }
    
      h4 { 
        font-size: 0.93rem;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 0 0 1rem 0;
        }
        
      p {
        font-size: 1.87rem;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: capitalize;
        max-width: 372px;
      } 
    }
  }     
}





