@import "../../styles/global.scss";

.twoup {
  display: flex;
  justify-content: space-between;

  
  &__card {

    margin-right:60px;

     &:last-child {
      margin-right: 0;
      }
    }

    .wrapper{  
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
    
      h4 { 
        font-size: 0.93rem;
        line-height: 100%;
        letter-spacing: 0.04em;
        padding: 0 0 1rem 0;
        }

      p {
        font-size: 1.87rem;
        line-height: 100%;
        letter-spacing: -0.03em;
        max-width: 60%;
      } 
    }
  }     





