@import "../../styles/global.scss";

.thwoup {
  display: flex;
  justify-content: space-between;
 
  .card {
    padding-right:160px;
    
      &:nth-child(2) {
        padding-right: 0;
        }
  

    .wrapper{  
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
    
      h4 { 
        font-size: 0.93rem;
        line-height: 100%;
        letter-spacing: 0.04em;
        padding: 0 0 1rem 0;
        }

      p {
        font-size: 1.87rem;
        line-height: 100%;
        letter-spacing: -0.03em;
        max-width: 60%;
      } 
    }
  }     
}





