@import "../../styles/global.scss";

.hero{
  padding: 72px 60px 80px;

  h1{
    border-top: 1px solid $primary-color-line;
    padding: 24px 0;
    text-align: right;
    font-family: Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 10rem;
    line-height: 80%;
    text-align: right;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    margin-bottom: 64px;
      
    &::after{
      content:'';
      display: block;
      background-color: $primary-color-line;
      margin-left: auto;
      height: 1px;
      width: 57.5%;
    }
  }
}