@import "../../styles/global.scss";

.main__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 3.75rem;
  }

  #main{
    background-color: $background-light;
    width: 100%;
  }
  
  .main__img{
    img{
      width: 674px;
      margin-top: 64px;
      padding-right: 80px;
      height: 674px;
      padding-left: 60px;
    }
  }
  
  .main__content{
    width: 100%;
    padding-bottom: 6.25rem;

     
    .main__subhead{
      font-family: Garamond;
      font-style: normal;
      font-weight: normal;
      font-size: 4rem;
      line-height: 100%;  
      letter-spacing: -0.04em;
      text-transform: capitalize;
      padding-top: 104px;
      padding-left: 3.1rem;
      padding-right: 12.5rem;

        &::after{
          content:'';
          display: block;
          height: 1px;
          width: 100%;
          border-bottom: 1px solid $primary-color-line;
        }       
    }
   
    .main__subtitle{
      display: flex;
      justify-content: flex-end;
      font-style: normal;
      font-weight: normal;
      font-size: 1.87rem;
      line-height: 120%;
      letter-spacing: -0.02em;
      padding-top: 80px;
      padding-bottom: 28px;
  
      .script-text{
        font-family: 'Pinyon Script', cursive;
        padding-right: 0.62rem;
      }
    }

    .info__container{
      padding-left: 3.1rem;
      
      .main__eyebrow{
        font-size: 0.93rem;
        line-height: 100%;
        letter-spacing: 0.04em;
    
       .title{
          padding: 20px 0 16px 0;
          text-transform: uppercase;
          font-size: 0.93rem;
          border-top: 1px solid $primary-color-text;
       }
  
        p{ 
          font-family: Garamond;
          font-style: normal;
          font-weight: normal;
          font-size: 1.25rem;
          line-height: 110%;      
          letter-spacing: -0.02em;
          text-transform: capitalize;
          padding-bottom: 1.5rem ;
        }
      }
  
    }
}

.title {
    padding-right: 60px;
    padding-left: 60px;
    background-color: $background-light;
 
    h1{
      border-top: 1px solid $primary-color-line;
      background-color: $background-light;
      padding: 1.5rem 0 0;
      text-align: right;
      font-family: Garamond;
      font-style: italic;
      font-weight: normal;
      font-size: 160px;
      line-height: 80%;
      text-align: right;
      letter-spacing: -0.05em;
      text-transform: capitalize;
      
        &::after{
          content:'';
          display: block;
          background-color: $primary-color-line;
          margin-left: auto;
          height: 1px;
          width: 57.5%;
        }       
    }
  }


  

