// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Pinyon+Script&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

//Font Variables
$font-stack: 'Poppins', sans-serif;

// Color Variables
$primary-color-text: #10403D;
$primary-color-line: #E79973;
$background-light: #F8F0DF;
$background-white: #fff;


 *,
 *::before,
 *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: $font-stack;
  color: #10403D;
  margin-right: 0;
  background-color: #F8F0DF;;
}





