
@import "../../styles/global.scss";

  .threeup__container {
    display: flex;
    background-color: $background-light;
    padding-left: 60px;
    padding-bottom: 80px;
  
    .card {
      margin: 0 60px 0 0; 

      &:nth-child(odd) {
        width: 492px;
      }

      &:nth-child(2) {
        width: 216px;
      }
     
      img {
       max-width: 100%;    
      }

     h5 { 
       font-family: Garamond;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 40px 0 16px 0
      }

      p{
        font-family: Garamond;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: capitalize;
      }
    }
}

  