
@import "../../styles/global.scss";

  .threeup {
    display: flex;
    padding-bottom: 5rem;
    justify-content: space-between;

    &__card {
      margin: 0 3.75rem 0 0; 

      &:nth-child(odd) {
        width: 30.75rem;
    
      }

      &:nth-child(3) {
        margin-right: 0;
      }


      &:nth-child(2) {
        width: 13.5rem;
      }
     
      img {
       max-width: 100%;    
      }

     h4 { 
      font-size: 0.93rem;
      line-height: 100%;
      letter-spacing: 0.04em;
      padding: 2.5rem 0 1rem 0
      }

      p {
        font-size: 1.87rem;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-right: 1.8rem;
      }      
    }
}

  