@import "../../styles/global.scss";

.navbar__container{
    display: flex;
    justify-content: space-between;
    font-style: normal;
    padding: 1.5rem 3.75rem 0 3.75rem;
    background-color: $background-light;

    .navbar__logo {
      font-family: Garamond;
      font-size: 2.5rem;
      text-decoration: none;
      color: #10403D
    }

    .navbar__menu{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }